/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/public/fonts/*.*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/js/app.js.LICENSE.txt
public/mix-manifest.json
